{% extends 'base.html' %}
{%block head%}{%endblock head%}
{%block content%}
<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if request.session.uname|default:'' != '' %}
				<!--<div class="login_info fl">-->
					<!---->
				<!--</div>-->
				<div class="login_btn fl">
					欢迎您：<em>{{request.session.uname}}</em>
					<span>|</span>
					<a href="{% url 'user:logout' %}">退出</a>
				</div>
				{% else %}
				<div class="login_btn fl">
					<a href="{% url 'user:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'user:register' %">注册</a>
				</div>
				{% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:centerinfo' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart:cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'user:centerorder' %}">我的订单</a>
				</div>
			</div></div>
	</div>
{%endblock content%}
{%block foot%}{%endblock foot%}